<h1 class="text-center">Covenants overview</h1>
<p>
  Covenants are a set of additonal game mechanics that can be added to a session of Drunk Souls to give players currently not playing other ways to interact with the game. 
  It is highly recommended to add this when there are more than three players.
</p>
<h2>How does it work?</h2>
<p>
  Each player selects a covenant when they join the session. The available covenants are outlined below. You then gain a set of extra interactions such as "praise the sun" and "invasion" depending on your selected covenant.
  You then use these interactions as you wish and as the rules allow for the rest of the session.
</p>
<h2>Sins?</h2>
<p>
  Sins are a balance-measure that is added to the game that makes aggressive players drink more themselves. Most interactions use this in some way. Some add sins to the player and some removes them.
  Sins can be used by a "Blade of the Darkmoon"-member to punish those that make others drink based on how much they have done. 1 sin = 1 drink for the player that looses against a "justice invasion" and then all their sins are reset.
</p>
<h2>Changing Covenant</h2>
<p>
  Players can change their covenant at any time, but 5 sins are added to their sin counter each time they do so.
</p>

<h2>All Covenants:</h2>
<div class="row">
  <div class="col-sm-4">
      <div class="card dark-card w-100 h-100">
          <div class="card-body">
              <img class="card-img-top" src="assets/img/darkmoon.jpg" alt="Card image cap">
              <h5 class="card-title">Blades of the Darkmoon</h5>
              <p class="card-text">The covenant that focuses primarily on "PvP". This covenant balances the other covenants by making them drink for their sins.</p>
              <a routerLink="/covenants/blades-of-the-darkmoon" class="btn btn-secondary">Read more</a>
          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card dark-card">
          <div class="card-body">
              <img class="card-img-top" src="assets/img/brotherhood.jpg" alt="Card image cap">
              <h5 class="card-title">Brotherhood of Blood</h5>
              <p class="card-text">The covenant that focuses primarily on "PvP". This lets you invade other players in return for sins</p>
              <a routerLink="/covenants/brotherhood-of-blood" class="btn btn-secondary">Read more</a>
          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card dark-card">
          <div class="card-body">
              <img class="card-img-top" src="assets/img/champions.jpg" alt="Card image cap">
              <h5 class="card-title">Company of Champions</h5>
              <p class="card-text">This covenant focuses mainly on the game itself. Makes the game more difficult in return for rewards</p>
              <a routerLink="/covenants/company-of-champions" class="btn btn-secondary">Read more</a>
          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card dark-card">
          <div class="card-body">
              <img class="card-img-top" src="assets/img/pilgrims.jpg" alt="Card image cap">
              <h5 class="card-title">Pilgrims of Dark</h5>
              <p class="card-text">This covenant shakes up how the covenants interact with eachother. You can curse players so that they have to drink more.</p>
              <a routerLink="/covenants/pilgrims-of-dark" class="btn btn-secondary">Read more</a>
          </div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card dark-card">
          <div class="card-body">
              <img class="card-img-top" src="assets/img/warriors.jpg" alt="Card image cap">
              <h5 class="card-title">Warrior of Sunlight</h5>
              <p class="card-text">The Sunbros. This covenant focuses on helping other players and praising the sun.</p>
              <a routerLink="/covenants/warrior-of-sunlight" class="btn btn-secondary">Read more</a>
          </div>
      </div>
  </div>
</div>

