/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('assets/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}
.special-font{
    font-family: serif;
    src: url("/assets/font/OptimusPrincepsSemiBold.ttf") format("truetype");
}